// Variable

// 
// Color System
//

$accent: #30343f;
$secondary: #f2ece8;
$third: #c2c2c2;
$success: rgb(28,184,65);
$error: rgb(202,60,60);
$warning: rgb(223,117,20);
$neutral: rgb(66,184,221);

//
// Font Size
//

$font-size-base:16px;
$font-size-tag:14px;